@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root{
    font-size: 62.5%;
    --jagged-ice: #C5E4E7;
    --white: #fff;
    --greyish-turquoise: #5E7A7D;
    --squeeze: #F3F9FA;
    --sherpa-blue: #004748; 
}

body{
    font-size: 1.6rem;
    background: var(--jagged-ice);
}

header{
    padding-top: 5rem;
    padding-bottom: 4rem;

    display: flex;
    justify-content: center;
}

main{
    background: var(--white);
    padding: 3.2rem 2.4rem;
    border-radius: 2.5rem 2.5rem 0 0;
}

.info{
    padding-inline: .8rem;

    strong{
        color: var(--greyish-turquoise);
    }

    .input-box{
        margin-top: .6rem;
        background: var(--squeeze);
        display: flex;
        align-items: center;
        padding: .6rem 1.8rem;
        
        input{
            border: none;
            color: var(--sherpa-blue);
            font-size: 2.4rem;
            outline: none;
            background: transparent;
            text-align: right;
            width: 100%;
            font-weight: 700;

            &::placeholder{
                color: var(--sherpa-blue);
                opacity: 0.35;
            }
        }
    }
}